.header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}
.header-icon{
    margin: 0 8px;
}
.header-navbar{
    height: var(--header-info-height);
    line-height: var(--header-info-height);
    color: var(--text-color);
    background-color: #ebebeb;
    font-size: 14px;
    width: 100%;
    font-weight: 300;
}

.header-navbar-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
 
}
.header-navbar-list__item{
    display: flex;
}
.header-navbar-list__item a{
    text-decoration: none;
    color: var(--text-color);
    padding-right: 30px;
}
.header-main{
    width: 100%;
    max-height: 200px;
    display: flex;
}
.header-logo__img{
    max-width: 200px;
}

.header-search{
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 16px;
}
.header__mobile-search{
    display: none;
}
.header-search__input-wrap{
    flex: 1;
    position: relative;
}
.header-search__input{
    height: 40px;
    width: 100%;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0 16px;
    box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    justify-content: center;
}

.header-search__btn-icon{
    margin-left: 4px;
}
.header-shop{
    padding-left: 16px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 14px;
}
.header-cart{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-cart__img{
    padding: 0 2px 0 16px;
}
.header-cart__name{
    padding: 0 26px 0 4px;
}
.header-m{
    background-color: white;
}
.header-menu {
    background-color: var(--primary-color);
    height: 50px;
    line-height: 50px;
    
}
.header-menu__list-item-link{
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}
.header-menu__list-item-menu{
    cursor: pointer;
    padding: 0 20px;
    text-align: center;    
    text-decoration: none;


   
}
.header-menu__list-item-menu-all{
    position: relative;
    cursor: pointer;
    padding: 0 20px 0 40px;
}

.header-menu__list-item{
    padding: 0 40px;
}

.header-down{
    transform: translateY(105%);
    /* margin-left: 56px; */
    float: right;
    
}
.header-menu__subnav{
    top: 50px;
    background-color: white;
    list-style: none;
    width: calc(100% - 20px);
    font-size: 14px;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 300;
    box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.2);
    display: none;
    margin-left: -20px;
    
    position: absolute;
    transform-origin: top center;
    animation: rotateX  ease-in-out forwards 0.7s;
}
.header-menu__list-item-menu-all:hover .header-menu__subnav{
    display: block;
    
}
@keyframes rotateX {
    from {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    
    to {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }
.header-menu__subnav-item{
    border-top: 1px solid rgb(180, 178, 178);
    height: 50px;
    line-height: 50px;
    
}
.header-menu__subnav-item:first-child{
    border-top: none;
}
.header-menu__subnav-item-link{
    color: var(--text-color);
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0;  
    text-decoration: none;
}
.header-menu__subnav-item-link:hover{
    background-color: #ccc;
}
.fas-right{
   color: var(--text-color);
   display: inline-block;
   padding-left: 100px;
}
.header-menu__subnav-item-img{
    height: 30px;
    line-height: 50px;  
    padding: 0 6px;

}
.header-list{
    display: flex;
    font-size: 14px;
    flex: 1;
}
.header-menu__list-item-menu:hover{
    filter: brightness(90%);
    border-radius: 5px;
}
.header-menu__subnav-item-all{
    position: relative;
}
.header-menu__subnav-item-all:hover .header-menu__subnav-item-all-item{
    display: block;
}
.header-menu__subnav-item-all-item{
    top: 0;
    position: absolute;
    width: 250%;
    left: 100%;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.2);
    display: none;

    transform-origin: left center;
    animation: rotateY  ease-in-out forwards 0.7s;
}
@keyframes rotateY {
    from {
      opacity: 0;
      transform: rotateY(-90deg);
    }
    
    to {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
.header-menu__subnav-item-all-item-pro{
    max-width: 250%;
    flex-wrap: wrap;
}

.all__item-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    text-transform: none;
}
.all__item-list-item{
    padding: 0 20px;

}
.all__item-list-item:hover{
    background-color: #ccc;
}
.all__item-list-item a{
    font-weight: bold;
    font-family: inherit;
    text-decoration: none;
    color: var(--text-color);

}
.item-img{
    width: 100%;
}
.a{
    display: flex;
}


