
  .mt-15{
    margin-top: 15px;
  }
  
  .ml-0{
    margin-left: 0;
  }
  .mr-5{
    margin-right: 5px;
  }
  .sort_selected::after{
    content: '\f00c';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 0 10px;
    display: inline-block;
  }

  .text-center{
    text-align: center;
  }
  .app__container{
    font-size: 13px;
  }
  .mb-20{
    padding-bottom: 20px;
  }

  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
 
  .txt-16{
    font-size: 16px;
  }
  .form-group{
    margin: 10px 0;
  }
  .panel-heading{
    margin: 20px 0;
  }
  input:focus-visible{
    outline: 1px solid var(--text-color);
  } 
  select:focus-visible{
    outline: none;
  } 