.all-main{
    display: flex;
    margin-top: 20px;
}
.all-header{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--text-color);
}
.all-menu{
    width: 100%;
    display: flex;
    color: var(--text-color);
}
.all-item{
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
}
.all-item-name{
    font-size: 14px;
}
.app__container{
    width: 100%;
    padding-top: calc(var(--header-height) + 10px);

}
.all-trade{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.all-select{
    margin: 10px 0;
}
.checkbox{
    margin-right: 10px;
    cursor: pointer;
}
.all-color__pick{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row;
}
.all-color__pick-item{
    height: 35px;
    width: 35px;
    margin: 5px 3px;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 3px;    
    border: 1px solid #c3c3c3;

}
.boxx{
    height: 40px;
    width: 98%;
    margin: 5px 3px;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 3px;    
    border: 1px solid #c3c3c3;

}

.all-select{
    height: 34px;
    margin-left: 6px;

}

.active{
    border: 1px solid  var(--primary-color);
     
  }
/* item */
.all-menu_list{
   
    width: 100%;
}
.all-menu_list-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.all-menu__item{
    color: var(--text-color);
    padding: 10px;
    border: 1px solid #ebebeb;
    margin: 10px 6px;
  
}
.all-menu__item:hover{
    transform: translateX(1px);

}

.all-menu__item-link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
}
.all-menu__item-link-img{
    position: relative;
    width: 100%;
}
.all-menu__item-link:hover{
    cursor: pointer;
}
 .all-menu__action{
    height: 40px;
    width: 80%;
    background-color: white;
    font-size: 18px;
    color: var(--text-color);
     display: none;  
     position: absolute;
} 
.all-menu__action-icon{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.all-menu__item:hover .all-menu__action{
    display: block;
    bottom: 10px;
    left: 20px;
    transform-origin: bottom center;
    animation: rotateX  ease-in-out forwards 0.7s;
}   

.all-menu__item-link-title{
    margin: 10px 0 10px 0;
}
.all-menu__item-prices{
    font-size: 14px;
    display: flex;
}
.all-menu__item-price-sale{
    color: burlywood;
    text-decoration: line-through;
    margin-right: 6px;

}
.all-menu__item-price{
    color: var(--primary-color);

}
.pagination-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination{
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-items: center;
    align-items: center;
     height: 40px;
    /* width: 100%; */
}
.pagination > li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.pagination > li > button{
    height: 35px;
    cursor: pointer;
    width: 35px;
    background: white;
    border: 1px solid #ccc;
}
 
 




