
.footer{
    padding-top: 16px;
    border-top: 2px solid var(--primary-color);
    background-color: var(--primary-color);
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white;
}
.footer-list{
    padding-left: 0;
    list-style: none;
    
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--text-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px 8px 0  0;
}

.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.footer__download-app{
    flex: 1;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_download-app-img{
    height: 16px;
}

.footer__bottom{
    padding: 12px 0;
    background-color: #f5f5f5;
    margin-top: 24px;
}
.footer__margin{
    margin-bottom: 20px ;
}